code[class*=language-],
code.hljs {
	position: relative
}

code[class*=language-]:before,
code.hljs::before {
	position: absolute;
	z-index: 3;
	right: 1em;
	font-size: .75rem;
	color: hsla(0, 0%, 100%, .4)
}

pre[class~=language-apache]:before {
    content: "apacheconf"
}

pre[class~=language-bbcode]:before,
pre[class~=language-shortcode]:before {
    content: "bbcode"
}

pre[class~=language-c]:before {
    content: "c"
}

pre[class~=language-coffeescript]:before {
    content: "coffee"
}

pre[class~=language-cpp]:before {
    content: "cpp"
}

pre[class~=language-csharp]:before {
    content: "cs"
}
pre[class~=language-css]:before {
    content: "css"
}

pre[class~=language-docker]:before {
    content: "docker"
}

pre[class~=language-dockerfile]:before {
    content: "dockerfile"
}

pre[class~=language-go]:before {
    content: "go"
}

pre[class~=language-html]:before,
pre[class~=language-markup]:before {
    content: "html"
}

pre[class~=language-java]:before {
    content: "java"
}

pre[class~=language-js]:before,
pre[class~=language-javascript]:before {
    content: "js"
}

pre[class~=language-json]:before {
    content: "json"
}

pre[class~=language-less]:before {
    content: "less"
}

pre[class~=language-md]:before,
pre[class~=language-markdown]:before {
    content: "md"
}

pre[class~=language-makefile]:before {
    content: "makefile"
}

pre[class~=language-nginx]:before{
    content: "nginx"
}

pre[class~=language-php]:before {
    content: "php"
}

pre[class~=language-py]:before,
pre[class~=language-python]:before {
    content: "py"
}

pre[class~=language-ruby]:before {
    content: "rb"
}

pre[class~=language-sass]:before {
    content: "sass"
}

pre[class~=language-scss]:before {
    content: "scss"
}

pre[class~=language-sh]:before,
pre[class~=language-bash]:before,
pre[class~=language-shell]:before {
    content: "sh"
}

pre[class~=language-sql]:before{
    content: "sql";
}

pre[class~=language-stylus]:before {
    content: "stylus"
}

pre[class~=language-ts]:before,
pre[class~=language-typescript]:before {
    content: "ts"
}

pre[class~=language-vue]:before {
    content: "vue"
}

pre[class~=language-xml]:before {
    content: "xml"
}

pre[class~=language-yaml]:before {
    content: "yaml"
}
