/* 代码语言 */
code[class*=language-],code.hljs{position:relative}code[class*=language-]:before,code.hljs::before{position:absolute;z-index:3;right:1em;font-size:.75rem;color:hsla(0,0%,100%,.4)}code[class~=language-js]:before,code.hljs.js:before{content:"js"}code[class~=language-ts]:before,code.hljs.ts:before{content:"ts"}code[class~=language-html]:before,code.hljs.html:before{content:"html"}code[class~=language-md]:before,code.hljs.md:before{content:"md"}code[class~=language-vue]:before,code.hljs.vue:before{content:"vue"}code[class~=language-css]:before,code.hljs.css:before{content:"css"}code[class~=language-sass]:before,code.hljs.sass:before{content:"sass"}code[class~=language-scss]:before,code.hljs.scss:before{content:"scss"}code[class~=language-less]:before,code.hljs.less:before{content:"less"}code[class~=language-stylus]:before,code.hljs.stylus:before{content:"stylus"}code[class~=language-go]:before,code.hljs.go:before{content:"go"}code[class~=language-java]:before,code.hljs.java:before{content:"java"}code[class~=language-c]:before,code.hljs.c:before{content:"c"}code[class~=language-sh]:before,code.hljs.sh:before{content:"sh"}code[class~=language-bash]:before,code.hljs.bash:before{content:"sh"}code[class~=language-yaml]:before,code.hljs.yaml:before{content:"yaml"}code[class~=language-py]:before,code.hljs.py:before{content:"py"}code[class~=language-docker]:before,code.hljs.docker:before{content:"docker"}code[class~=language-dockerfile]:before,code.hljs.dockerfile:before{content:"dockerfile"}code[class~=language-makefile]:before,code.hljs.makefile:before{content:"makefile"}code[class~=language-javascript]:before,code.hljs.javascript:before{content:"js"}code[class~=language-typescript]:before,code.hljs.typescript:before{content:"ts"}code[class~=language-markup]:before,code.hljs.markup:before{content:"html"}code[class~=language-markdown]:before,code.hljs.markdown:before{content:"md"}code[class~=language-json]:before,code.hljs.json:before{content:"json"}code[class~=language-ruby]:before,code.hljs.ruby:before{content:"rb"}code[class~=language-python]:before,code.hljs.python:before{content:"py"}code[class~=language-php]:before,code.hljs.php:before{content:"php"}code[class~=language-xml]:before,code.hljs.xml:before{content:"xml"}code[class~=language-nginx]:before,code.hljs.nginx:before{content:"conf"}code[class~=language-bbcode]:before,code.hljs.bbcode:before{content:"bbcode"}

/* 社区展 */
.App-content .Pages-container {
	width:100%;
	max-width:100%;
	padding-left:0px;
	padding-right:0px;
}

/* 17年备份 */
.qrcode {
	position:fixed;
	right:20px;
	bottom:40px;
	border:1px solid #DDD;
	padding:5px;
	background:#FFF;
	text-align:center;
	border-radius:2px;
	z-index:1000;
}
@media (max-width:991px) {
	.qrcode {
	display:none !important;
}
}.upyun {
	font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size:16px;
	text-align:center;
	height:45px;
	line-height:45px;
}
.upyun img {
	vertical-align:middle;
}

/* 横幅 */
.Hero-close {
	display:none;
}
/* 固定左侧标签栏 */
@media (min-width:992px) {
	.sideNav,.sideNav>ul {
	width:190px;
	position:sticky;
	top:80px;
}
.App {
	overflow-x:visible;
}
/* 版块页不受影响 */
	.CategoriesPage.TagsPage .sideNav,.CategoriesPage.TagsPage .sideNav>ul {
	position:unset;
}
/* 标签页不受影响 */
	.TagsPage.TagsPage .sideNav,.TagsPage.TagsPage .sideNav>ul {
	position:unset;
}
}/* 导航栏位置调整 */
@media (max-width:1120px) and (min-width:768px) {
	.App-header .container {
	width:auto;
}
}@media (max-width:1051px) and (min-width:991px) {
	.Header-controls .Search:not(.focused) .Search-input {
	max-width:166px;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	transition:all .4s;
}
}/* 标签页表单位移修复 */
@media (min-width:768px) {
	.TagDiscussionModal .Modal-content,.TagDiscussionModal .TagsInput {
	overflow:unset;
}
}@media(max-width:767px) {
	.TagsInput input {
	width:0% !important;
}
}/* 编辑器标题位置 */
.ComposerBody-content .ComposerBody-header h3 input {
	width:470px;
}
/* 许可证 */
li.item-littlegolden-post-license {
	margin-left:10px;
	& .Form-group>label {
	display:none;
}
}/* 视频宽度 */
body video {
	max-width:-webkit-fill-available;
	/* Chrome 内核浏览器 */ 
    max-width:-moz-available;
	/* 火狐内核浏览*/
    display:inline-block;
	vertical-align:baseline;
	width:100%;
}
/* 会员名录页,首页加载更多按钮尺寸 */
.UserDirectoryList-loadMore .Button,.DiscussionList-loadMore .Button {
	width:50%;
	border-radius:30px;
	margin-top:30px;
}
.UserDirectoryList-loadMore {
	text-align:center;
}
@media (max-width:767px) {
	.DiscussionList-loadMore {
	padding-left:15px;
	padding-right:15px;
}
}/* 替换点赞,回复按钮 */
.item-like .Button--link .Button-label,.item-reply .Button--link .Button-label {
	display:none;
}
.item-like .Button:before {
	font-family:'Font Awesome 5 Free';
	font-weight:600;
	font-size:14px;
	content:'\f164';
	vertical-align:-1px;
}
.item-reply .Button--link:before {
	font-family:'Font Awesome 5 Free';
	font-weight:600;
	font-size:15px;
	content:'\f3e5';
	margin-right:4px;
	vertical-align:-2px;
}
/* 首页主题点击量对齐 */
@media (min-width:768px) {
	.IndexPage li.item-discussion-views {
	margin-right:-70px;
	width:55px;
}
}/* 暂时修复 FancyBox 导致的 shield 图标显示异常 */
.CommentPost.Post img.inline-image {
	padding:0;
	border-radius:0;
	width:auto;
	margin-left:0;
	margin-right:0;
	/*pointer-events:none;
	*/
    background:none;
}
.CommentPost.Post a.inline-image-link,.CommentPost.Post a.block-image-link {
	border-bottom:1px solid #e7edf3;
	padding:0;
	margin-left:0;
	margin-right:0;
	border-radius:0;
	background:none;
	display:inline-block;
}
.CommentPost.Post a.inline-image-link:hover,.CommentPost.Post a.block-image-link:hover {
	border-color:#f36322;
}
.CommentPost.Post a.inline-image-link img {
	top:0;
}
.CommentPost.Post a.inline-image-link .extlink-badge,.CommentPost.Post a.block-image-link .extlink-badge {
	display:none;
}
.CommentPost.Post a.block-image-link img {
	width:auto;
	margin-bottom:6px;
}
/* 灯箱文字 */
.fancybox-infobar {
	color:#fff !important;
}
/* 反应按钮位置 */
.Post-actions .Reactions .Reactions--ShowReactions {
	margin-top:11px;
}
/* 表格阴影去除 */
.Post .Post-body table {
	box-shadow:none;
}
.IndexPage .DiscussionListItem,.UserPage .DiscussionListItem,.DiscussionPage-discussion .DiscussionListItem {
	transition:all 0.1s;
}

/* 2020-3-7 */

/* 私人讨论成员名颜色 */
.Hero span.RecipientLabel-text {
	color:@config-primary-color;
}
/* 未读 */
.unread .DiscussionListItem-title:after {
	font-family:"Font Awesome 5 Free";
	font-weight:600;
	content:"\f111";
	color:#667c99;
	margin-left:2px;
	margin-top:-6px;
	transform:scale(0.5);
	position:absolute;
}
.PostsUserPage .PostsUserPage-list .Post {
	padding-top:20px;
}
/* 图片大小调整 */
img.block-image {
	/*max-width:200px;
	*/
    min-width:auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.Post div img.block-image {
    display: unset;
    background: none;
}
.Post-body pre {
	/* 代码块 */
	background:#282c34;
	color:#fff;
}
.Post-body:not(pre) code:not(.hljs) {
	/* 短代码 */
    color:#476582 !important;
	padding:.3rem .5rem;
	background-color:rgba(27,31,35,0.05) !important;
}
/* 页脚 */
.site-footer {
	margin:0;
	/*margin-top:64px;*/
	padding-top:30px;
	padding-bottom:30px;
	color:hsla(0,0%,100%,.9);
	box-sizing:inherit;
	text-align:center;
	font-size:1em
}
@media (max-width:991px){
    .site-footer {
	padding-top:0px;
    }
}
.site-footer p {
	margin:0
}
.rm-link-color > p > a {
	text-decoration:none;
	color:#89898c
}
.rm-link-color > p > a:hover {
	text-decoration:underline
}

/*-------- 2020-8-11--------*/

/*付费图标*/
i.icon.fas.fa-premium:before{content:"";background:url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN@0.1.3/img/premium21.svg);position:relative;display:block;width:1.2em;height:1.2em;background-size: contain;}
i.icon.fas.fa-premium {vertical-align: middle;}

.Post>li>img.inline-image{max-height:auto !important;max-width:auto !important;}

/* 精华 */
.Badge--frontpage {
  background: #fbbd08!important;
}
.fa-medal:before {
    content: "\f091"!important;
}

/* logo调整 */
.Header-logo {
    max-height: 40px !important;
}

/* 在线人数 */
fieldset.OnlineUsers{
    font-size: 14px;
}
legend {
    float: left;
    margin-right: 1em;
}

/* 认证图标 */
@media (max-width:767px) {
    div#header-secondary:after {
    content: "";
    background: url(https://goldenjin.oss-cn-shanghai.aliyuncs.com/verified-community.svg);
    display: block;
    width: 19em;
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin: 1em auto;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    }
    .item-flagrow-ad{display:none;}
}

/*---------------------Yannis 基础调整开始----------------------------*/

/*优化气泡遮挡问题*/
.NotificationsDropdown-unread,.new .NotificationsDropdown-unread{background:#fff;position:absolute;z-index:3!important}
@media (max-width:767px){.KvotheSub{margin-top:10px;margin-bottom:10px}
}

/*补充Iconfont*/
i.icon.fas.fa-lms:before{content:"";background:url(https://eo.gs/images/flarum/lemon.svg);position:relative;display:block;width:32px;height:32px;top:-5px;left:-4px}

/*基础调整*/

::-webkit-scrollbar{width:5px;height:5px}
::-webkit-scrollbar-thumb{background:@config-primary-color}
::-webkit-scrollbar-track{background:#e8ecf3}
.DiscussionList-loadMore .Button,.UserDirectoryList-loadMore .Button{background:#e0e0e0;color:#828282}
.Post-body blockquote{color:#2c3e50;background-color:#f3f5f7;border-radius:0;border:0;border-left-color:#42b983;border-left-width:.5rem;border-left-style:solid;padding:1rem 1.5rem;margin:1rem 0}
.TagDiscussionModal-form i.icon.fas.fa-check.Button-icon{color:#b8c3d2!important}
.aaalert.aaerror .aainner{border:2px dotted #b94a48!important;text-align:left}
.aaalert.aasuccess .aainner{background-color:#dff0d8;border:2px dotted #468847!important;text-align:left}
.aaalert.aainfo .aainner{border:2px dotted #3a87ad!important;text-align:left}
.Avatar{border-radius:20%!important}
.App-header .Button.active,.App-header .Button.focus,.App-header .Button:active,.App-header .Button:focus,.App-header .Button:hover,.App-header .open>.Dropdown-toggle.Button,.ButtonGroup>.Dropdown-toggle:hover,.open>.Button.Dropdown-toggle{border-radius:10%!important}


/*-------------------------活力橙样式相关-------------------------*/
/* Yannis 风格调整 2020-7-19*/
@media (min-width:769px){
a { color: #d86e70; }
body{background:#f6f6f6 url(https://css.yannis.cn/img/flarumcn_orange/new_bodybg.png) 10px fixed}
.PostStream-item:not(:last-child){border-bottom:none}
.IndexPage h3.DiscussionListItem-title{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.DiscussionHero .TagsLabel .TagLabel{color:#4d698e;font-size:16px!important}
h3.DiscussionListItem-title{padding-bottom:3px}
.UserCard.Hero.UserHero{background:#79a3dc!important}
.DiscussionListItem{margin-top:10px}
.DiscussionListItem-info{color:#888}
.EventPost-icon{text-align:center;margin-left:-19px;width:64px;font-size:22px}
.DiscussionListItem:hover{background:#eaeaea}
.DiscussionList:not(.DiscussionList--searchResults) .read .DiscussionListItem-title{color:#1b2028}
.scroll-up{padding:9px!important;background-color:#3c3329!important}
.DiscussionHero .TagsLabel .TagLabel.colored .TagLabel-text{color:inherit!important;font-size:16px}
.Scrubber-handle{background-color:transparent!important}
kuoxo.com{author:yannisme}
.Hero{background:#63584f0d!important;margin-bottom:15px}
.Hero h2{font-size:2em;font-weight:bolder;color:#191919}
.Hero-subtitle{color:#000;font-size:15px;margin:8px 0 0;line-height:1.5em}
/*.App:before{background:linear-gradient(to right,#fb9b47,#f48663,#ee757a)}*/
/*.App:before { background: linear-gradient(to right, #2f3149, #3f2b48, #8d3b3c); }*/
.App-header .Button,.App-header .Button:hover{color:#fff}
.UserPage .Hero h2{color:#fff}
.Post-body{font-size:14px;line-height:1.7;position:relative;overflow:auto;overflow-wrap:break-word;border-radius:5px;margin-top:0;border:1px solid #f8f8f8;box-shadow:0 3px 9px 1px rgba(0,0,0,.1)!important;background:#fff;padding:20px;min-height:80px}
.Post-body>:first-child,.Post-preview>:first-child{margin-top:0!important}
.Post-actions{margin-top:5px}
.Post-footer{margin-top:10px;margin-bottom:0}
.Post-header{margin-bottom:10px;color:grey}
.PostStream-timeGap{padding-top:0;padding-bottom:0}
.Select-caret{margin-left:5px}
.Post{padding-bottom:10px}
.PostStream-timeGap span{margin-top:-10px;position:absolute}
.UserPage .Post-body{box-shadow:none!important}
.tooltip.right{margin-left:-29px;margin-top:-18px;padding:0}
i.icon.fas.fa-check.Button-icon{color:@config-primary-color}
.touch i.icon.fas.fa-check.Button-icon{color:#facfc0 !important}
}


/* 等级条背景色 */
div.PostUser-bar--empty {
    background: #1e2024!important;
}
.PostUser-bar {
    background: #f3763f!important;
}
/*活力橙夜间模式兼容*/
body.dark a{border:none}
body.dark .Post-body a{ color: #905c74!important}
body.dark li.item-bestAnswerPost p{color:#fff}
body.dark li.item-bestAnswerPost{background:0 0}
body.dark span.BestAnswer--User .username{color:#fff}
body.dark .PostStream-timeGap{padding:0 0 15px 0}
body.dark .PostStream-timeGap span{margin-top:-20px;border-bottom:2px solid #fafafa}
body.dark .Hero-subtitle,body.dark h2.Hero-title{color:#75798a}
body.dark h3.DiscussionListItem-title{color:#76798c!important}
body.dark h2.DiscussionHero-title{color:#75798a}
body.dark .Post-body{border:0;box-shadow:none!important;background:none}
body.dark .Post-body blockquote{border-left-color:#eca354;border-left-width:2px}
body.dark .aaalert.aaquote .aainner{background-color:#423930;color:#fff}
i.fa.fa-chevron-up { COLOR: white; }

/*---------------------Yannis 基础调整结束----------------------------*/