/* 社区展 */
.App-content .Pages-container {
	width:100%;
	max-width:100%;
	padding-left:0px;
	padding-right:0px;
}

/* 17年备份 */
.qrcode {
	position:fixed;
	right:20px;
	bottom:40px;
	border:1px solid #DDD;
	padding:5px;
	background:#FFF;
	text-align:center;
	border-radius:2px;
	z-index:1000;
}
@media (max-width:991px) {
	.qrcode {
	display:none !important;
}
}.upyun {
	font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size:16px;
	text-align:center;
	height:45px;
	line-height:45px;
}
.upyun img {
	vertical-align:middle;
}

/* 横幅 */
.Hero-close {
	display:none;
}
/* 固定左侧标签栏 */
@media (min-width:992px) {
	.sideNav,.sideNav>ul {
	width:190px;
	position:sticky;
	top:80px;
}
.App {
	overflow-x:visible;
}
/* 版块页不受影响 */
	.CategoriesPage.TagsPage .sideNav,.CategoriesPage.TagsPage .sideNav>ul {
	position:unset;
}
/* 标签页不受影响 */
	.TagsPage.TagsPage .sideNav,.TagsPage.TagsPage .sideNav>ul {
	position:unset;
}
}/* 导航栏位置调整 */
@media (max-width:1120px) and (min-width:768px) {
	.App-header .container {
	width:auto;
}
}@media (max-width:1051px) and (min-width:991px) {
	.Header-controls .Search:not(.focused) .Search-input {
	max-width:166px;
	-webkit-transition:all .4s;
	-o-transition:all .4s;
	transition:all .4s;
}
}/* 标签页表单位移修复 */
@media (min-width:768px) {
	.TagDiscussionModal .Modal-content,.TagDiscussionModal .TagsInput {
	overflow:unset;
}
}@media(max-width:767px) {
	.TagsInput input {
	width:0% !important;
}
}/* 编辑器标题位置 */
.ComposerBody-content .ComposerBody-header h3 input {
	width:470px;
}
/* 许可证 */
li.item-littlegolden-post-license {
	margin-left:10px;
	& .Form-group>label {
	display:none;
}
}/* 视频宽度 */
body video {
	max-width:-webkit-fill-available;
	/* Chrome 内核浏览器 */ 
    max-width:-moz-available;
	/* 火狐内核浏览*/
    display:inline-block;
	vertical-align:baseline;
	width:100%;
}
/* 会员名录页,首页加载更多按钮尺寸 */
.UserDirectoryList-loadMore .Button,.DiscussionList-loadMore .Button {
	width:50%;
	border-radius:30px;
	margin-top:30px;
}
.UserDirectoryList-loadMore {
	text-align:center;
}
@media (max-width:767px) {
	.DiscussionList-loadMore {
	padding-left:15px;
	padding-right:15px;
}
}/* 替换点赞,回复按钮 */
.item-like .Button--link .Button-label,.item-reply .Button--link .Button-label {
	display:none;
}
.item-like .Button:before {
	font-family:'Font Awesome 5 Free';
	font-weight:600;
	font-size:14px;
	content:'\f164';
	vertical-align:-1px;
}
.item-reply .Button--link:before {
	font-family:'Font Awesome 5 Free';
	font-weight:600;
	font-size:15px;
	content:'\f3e5';
	margin-right:4px;
	vertical-align:-2px;
}
/* 首页主题点击量对齐 */
/*@media (min-width:768px) {
	.IndexPage li.item-discussion-views {
	margin-right:-26px;
	width:55px;
	color: #808080
}
}*/
/* 暂时修复 FancyBox 导致的 shield 图标显示异常 */
.CommentPost.Post img.inline-image {
	padding:0;
	border-radius:0;
	width:auto;
	margin-left:0;
	margin-right:0;
	/*pointer-events:none;
	*/
    background:none;
}
.CommentPost.Post a.inline-image-link,.CommentPost.Post a.block-image-link {
	border-bottom:1px solid #e7edf3;
	padding:0;
	margin-left:0;
	margin-right:0;
	border-radius:0;
	background:none;
	display:inline-block;
}
.CommentPost.Post a.inline-image-link:hover,.CommentPost.Post a.block-image-link:hover {
	border-color:#f36322;
}
.CommentPost.Post a.inline-image-link img {
	top:0;
}
.CommentPost.Post a.inline-image-link .extlink-badge,.CommentPost.Post a.block-image-link .extlink-badge {
	display:none;
}
.CommentPost.Post a.block-image-link img {
	width:auto;
	margin-bottom:6px;
}
/* 灯箱文字 */
.fancybox-infobar {
	color:#fff !important;
}
/* 反应按钮位置 */
.Post-actions .Reactions .Reactions--ShowReactions {
	margin-top:11px;
}
/* 表格阴影去除 */
.Post .Post-body table {
	box-shadow:none;
}
.IndexPage .DiscussionListItem,.UserPage .DiscussionListItem,.DiscussionPage-discussion .DiscussionListItem {
	transition:all 0.1s;
}

/* 2020-3-7 */

/* 私人讨论成员名颜色 */
.Hero span.RecipientLabel-text {
	color:#FFF;
}
/* 未读 */
.unread .DiscussionListItem-title:after {
	font-family:"Font Awesome 5 Free";
	font-weight:600;
	content:"\f111";
	color:#667c99;
	margin-left:2px;
	margin-top:-6px;
	transform:scale(0.5);
	position:absolute;
}
.PostsUserPage .PostsUserPage-list .Post {
	padding-top:20px;
}
/* 图片大小调整 */
img.block-image {
	/*max-width:200px;
	*/
    min-width:auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.Post div img.block-image {
    display: unset;
    background: none;
}
/* .Post-body pre {
	/* 代码块 *//*
	background:#282c34;
	color:#fff;
} */
.Post-body :not(pre) code:not(.hljs) {
	/* 短代码 */
	/* color: #476582 !important; */
	padding: .3rem .5rem;
	/* background-color: rgba(27, 31, 35, 0.05) !important; */
}
/* 页脚 */
.site-footer {
	margin:0;
	/*margin-top:64px;*/
	padding-top:30px;
	padding-bottom:30px;
	color:hsla(0,0%,100%,.9);
	box-sizing:inherit;
	text-align:center;
	font-size:1em
}
@media (max-width:991px){
    .site-footer {
	padding-top:0px;
    }
}
.site-footer p {
	margin:0
}
.rm-link-color > p > a {
	text-decoration:none;
	color:#89898c
}
.rm-link-color > p > a:hover {
	text-decoration:underline
}

/*-------- 2020-8-11--------*/

/*付费图标*/
i.icon.fas.fa-premium:before{content:"";background:url(https://cdn.jsdelivr.net/gh/Littlegolden/CDN@0.1.3/img/premium21.svg);position:relative;display:block;width:1.2em;height:1.2em;background-size: contain;}
i.icon.fas.fa-premium {vertical-align: middle;}

.Post>li>img.inline-image{max-height:auto !important;max-width:auto !important;}

/* 精华 */
.Badge--frontpage {
  background: #fbbd08!important;
}
.fa-medal:before {
    content: "\f091"!important;
}

/* logo调整 */
.Header-logo {
    max-height: 40px !important;
}

/* 在线人数 */
fieldset.OnlineUsers{
    font-size: 14px;
}
legend {
    float: left;
    margin-right: 1em;
}

/* 认证图标 */
@media (max-width:767px) {
    div#header-secondary:after {
    content: "";
    background: url(https://goldenjin.oss-cn-shanghai.aliyuncs.com/verified-community.svg);
    display: block;
    width: 19em;
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin: 1em auto;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    }
    .item-flagrow-ad{display:none;}
}

/* 公告 */
.announcement {
    padding: 6px;
    background-color: @config-primary-color;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    white-space: pre-wrap;
    & a{ color: white; }
}
/* 占位 */
/*.IndexPage-toolbar::after {
    content: "Beta 15 及 Sticky 扩展发布安全更新，详情查看置顶主题。";
    padding: 3px 5px 3px 5px;
    background-color: @hero-bg;
    color: @link-color;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    white-space: pre-wrap;
}*/
.RemoveAnnounce::after {
    content: "";
    display: none;
}

/* hashtag */
a.tagPhrase::before{
	content: "#";
}

/* 2021-3-17 原生优化 */
.SettingsPage fieldset>ul{
	clear: both;
}

/*沙发*/
div.PostStream-item[data-index="1"] article.CommentPost.Post header.Post-header ul:not(ul.PostUser-badges.badges):not(ul.UserCard-badges.badges,ul.UserCard-info)::after{content:"沙发"}
/*板凳*/
div.PostStream-item[data-index="2"] article.CommentPost.Post header.Post-header ul:not(ul.PostUser-badges.badges):not(ul.UserCard-badges.badges,ul.UserCard-info)::after{content:"椅子"}
/*地板*/
div.PostStream-item[data-index="3"] article.CommentPost.Post header.Post-header ul:not(ul.PostUser-badges.badges):not(ul.UserCard-badges.badges,ul.UserCard-info)::after{content:"地板"}
/*美化样式*/
div.PostStream-item[data-index="1"] article.CommentPost.Post header.Post-header ul:not(ul.PostUser-badges.badges):not(ul.UserCard-badges.badges,ul.UserCard-info)::after,div.PostStream-item[data-index="2"] article.CommentPost.Post header.Post-header ul:not(ul.PostUser-badges.badges):not(ul.UserCard-badges.badges,ul.UserCard-info)::after,div.PostStream-item[data-index="3"] article.CommentPost.Post header.Post-header ul:not(ul.PostUser-badges.badges):not(ul.UserCard-badges.badges,ul.UserCard-info)::after{position:relative;z-index:2;background:@hero-bg;padding:1px 5px 1px 5px;color:@link-color;border-radius:4px;font-size:12px;font-weight:600;float:right}
div.PostStream-item[data-index="1"] article.CommentPost.Post.Post--by-start-user .Post-body,div.PostStream-item[data-index="2"] article.CommentPost.Post.Post--by-start-user .Post-body,div.PostStream-item[data-index="3"] article.CommentPost.Post.Post--by-start-user .Post-body{clear:both}

/*---------------------Yannis 样式调整开始----------------------------*/

/*补充Iconfont*/
/*i.icon.fas.fa-lms:before{content:"";background:url(https://flarum.csur.fun/2020-10-23/1603458950-770410-1.png) no-repeat;position:relative;display:block;width:30px;height:30px;top:-3px;left:-3px}
i.icon.fas.fa-sd:before{content:"";background:url(https://flarum.csur.fun/2020-10-23/1603458261-83809-3e1410a2-1f63-4f4d-82e2-f7fb85e213eb.png) no-repeat;position:relative;display:block;width:30px;height:30px;top:-1px;left:-1px}
i.icon.fas.fa-cbg:before{content:"";background:url(https://flarum.csur.fun/2020-10-23/1603458063-84374-1.png) no-repeat;position:relative;display:block;width:30px;height:30px;top:-1px;left:-1px}
*/


/*---------------------Yannis 主要样式调整--2021-3-15--------------------------*/
body{font-family:'Microsoft YaHei',"Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:1.6}
.DiscussionListItem-title{font-family:-apple-system,SF UI Display,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-thumb{background:@config-primary-color}
::-webkit-scrollbar-track{background:@config-secondary-color}
.IndexPage .DiscussionListItem-title,.UserPage .DiscussionListItem-title{margin-right:155px;font-size:18px}
/*@media (min-width:768px){*/
.IndexPage .DiscussionListItem-info>.item-tags,.UserPage .DiscussionListItem-info>.item-tags{position:inherit!important;-webkit-mask-image:none!important;margin-top:-7px;float:right;padding-right:unset!important}
.DiscussionListItem{border-bottom:1px solid rgba(0,0,0,.0625)}
.DiscussionListItem-author{display:none}
.DiscussionPage-list .DiscussionListItem-content{padding-left:8px;padding-right:15px}
.DiscussionListItem-content{padding-left:5px;padding-right:5px}
.DiscussionListItem-count{display:none}
.DiscussionHero-items{text-align:left}
.DiscussionListItem-badges{float:right}
.IndexPage .DiscussionListItem-badges{margin-top:5px}
.PostUser-badges{float:right;position:initial}
.Badge{margin:2px!important;width:auto;height:auto;background:0 0;color:#276bb0;display:unset;vertical-align:middle;text-align:center;-webkit-box-shadow:none;box-shadow:none}
span.Badge{background:0 0!important}
.Button.active,.Button.focus,.IndexPage .Button:focus,.IndexPage-results .DiscussionList-discussions .Button:hover,.IndexPage-results .DiscussionList-discussions .open>.Dropdown-toggle.Button,.UserPage .Button:focus,.UserPage .Button:hover,.UserPage .open>.Dropdown-toggle.Button{background:0 0!important}
.Button.active,.Button:active,.open>.Button.Dropdown-toggle{box-shadow:none}
.DiscussionHero .item-title{display:unset!important}
.DiscussionPage .DiscussionHero-items li.item-tags{float:right}
header.Hero.DiscussionHero.DiscussionHero--colored{background:@hero-bg!important}
h2.DiscussionHero-title{color:@muted-color}
.DiscussionHero--colored,.DiscussionHero--colored a{color:@hero-color!important}
.DiscussionPage-list button.Dropdown-toggle.Button.Button--icon.Button--flat.Slidable-underneath.Slidable-underneath--right{display:none}
.item-discussion-views{position:unset!important}
.DiscussionPage-list .DiscussionListItem-info>li,.UserPage .DiscussionListItem-info>li{display:none}
.DiscussionPage-list .DiscussionListItem-badges{float:left;padding-right:3px;margin-left:4px;width:auto}
.affix .DiscussionPage-list{overflow-x:hidden}
.affix .App-header{border-top:3px solid @config-primary-color}
.EventPost-icon{text-align:end;width:77px;margin-top:2px;font-size:14px}
.darkenBackground .UserCard-profile i.icon{color:#fff}
.PostUser-avatar{vertical-align:middle;position:relative;left:-7px;top:-2px;width:2.5em;height:2.5em;font-size:1em;line-height:2.5em}
.Post{padding-left:30px}
.PostUser-avatar{border-width:2px!important}
.PostStream-timeGap{padding:10px}
.unread .DiscussionListItem-title:after{font-weight:500;content:'New';color:#f26c4f;transform:scale(.6)}
.item-discussion-views,.item-discussion-views:before{content:' · 查看'!important;color:@muted-more-color!important;font-size:12px!important}
.UserPage .PostsUserPage-discussion a{font-style:normal;font-size:18px;background:@body-bg;margin-left:-20px}
.UserPage .Post-header{display:none}
.PostsUserPage .PostsUserPage-list .Post{padding:0 0 10px 18px}
.PostsUserPage aside.Post-actions{display:none}
.scroll-up{height:auto!important;background-color:#5eacfb!important}
.scroll-up:focus,.scroll-up:hover{background-color:@config-primary-color!important}
.topicStarter{padding:1px 5px 1px 5px!important;font-weight:600;float:right;position:inherit;margin-left:-35px!important;z-index:99;font-size:12px!important}
.DiscussionListItem-info .fa,.DiscussionListItem-info .fas{display:none}
.fa-thumbtack:before{color:#de8e00}
.fa-lemon:before{color:#ecce3c}
.fa-mitten:before{color:#31a985}
.fa-cookie:before{color:#9c5e49}
.fa-tools{color:#b72a2a}
i.icon.fas.fa-times{display:inline-block}
.IndexPage-results.sideNavOffset .DiscussionList.DiscussionList--searchResults li.item-discussion-views{display:none}
/*}*/
@media (max-width:767px){
.DiscussionListItem-content{padding-left:20px;padding-right:20px}
.IndexPage .DiscussionListItem-info>.item-tags{margin-top:unset}
.IndexPage .DiscussionListItem-title{margin-right:auto}
.item-discussion-views{background:@body-bg!important}
}
.DiscussionList:not(.DiscussionList--searchResults) .unread .DiscussionListItem-title{font-weight:500}
.NotificationsDropdown-unread,.new .NotificationsDropdown-unread{background:@muted-color!important}
.Post--BestAnswer{z-index:999}
.SettingsPage legend{float:unset}
.UserPage .SettingsPage .Button--primary.active,.UserPage .SettingsPage .Button--primary:active,.UserPage .SettingsPage .Button:focus,.UserPage .SettingsPage .Button:hover,.UserPage .SettingsPage .open>.Dropdown-toggle.Button,.UserPage .SettingsPage .open>.Dropdown-toggle.Button--primary{background:@config-primary-color!important}


/*---------------------Yannis 样式调整结束--2021-3-15----------------------------*/

/*.Hero{background:#ececef url(https://flarum.csur.fun/2020-11-01/1604213110-718167-9fc08cd5-9582-4b21-857f-52d8731fb4f0.png) no-repeat 35px bottom;}*/

/*.Scrubber-handle {
    background: url(https://flarum.csur.fun/2021-03-15/1615806146-890950-e562eae2-be93-4f98-92ec-1feeb668bf50.png) no-repeat center right;
}*/
